certifi==2018.1.18
chardet==3.0.4
contextlib2==0.5.5
Django==1.11.23
django-appconf==1.0.2
django-cors-headers==2.2.0
django-imagekit==4.0.2
django-jet==1.0.6
django-model-utils==3.0.0
django-sendsms==0.2.3
djangorestframework==3.7.7
gunicorn==19.7.1
idna==2.6
jsonfield==2.0.2
olefile==0.44
pilkit==2.0
Pillow==4.2.1
pkg-resources==0.0.0
psycopg2==2.7.3
PyJWT==1.5.3
PySocks==1.6.8
pytz==2018.3
raven==6.3.0
requests==2.18.4
setproctitle==1.1.10
singlemodeladmin==0.8
six==1.11.0
twilio==6.10.1
urllib3==1.22
