| {% extends 'base.html' %}

| {% block title %}
title Страница не найдена
| {% endblock %}
| {% block content %}
section.notFound.parent.centered.singleShare
  h1.mainTitle Страница не найдена
  p Страницу, которую вы пытаетесь найти &mdash; не существует.
| {% endblock %}