header#header.header.parent(
	itemscope,
    itemtype="https://schema.org/Organization"
)
	nav.nvaigation.parent.wrap.row.baseChild(role="navigation")
		ul.nvaigationList.parent.wrap.row.h-around.baseChild
			li
				a.brand(href="/")
					h1.brand__title(
						itemprop="name"
					) Oriflame	
			nav-link(href="/") Главная
			nav-link(href="/registration") Регистрация
			nav-link(href="/business") Бизнес
			nav-link(href="/shares") Акции
			nav-link(href="/videos") Медиа
		div(hidden)#activePageDescription Текущая страница
//- section.popupContacts.child.parent.centered
//- 	h2.visible-hidden Высплывающие контакты
//- 	button.popupContacts__button.showPopup(data-popup-id='#popupContacts', aria-pressed="false")
//- 		.imageContainer.imageContainer_contacts
//- 			figure.imageContainer__image.imageContainer__image_contacts
//- 	address.popupContacts__description.description.description_purple.description_right.description_beneath.visible-hidden#popupContacts
//- 		h3.description__title.popupContacts__title.parent Наши контакты
//- 			button#closeContactsButton.closeButton.child(data-popup-id='#popupContacts', aria-pressed="false")
//- 				i.fas.fa-times.fa-1x
//- 		ul.descriptionContent.popupContactsList
//- 			li.contactsItem(
//- 				itemscope,
//- 		    	itemtype="https://schema.org/ContactPoint"
//- 			)
//- 				span.contactsItem__label.visible-hidden-xs Email:&thinsp;
//- 				a.contactsItem__refer(
//- 			        href="mailto:{{ settings.email }}",
//- 			        itemprop="email"
//- 			    ) {{ settings.email }}
//- 			li.contactsItem(
//- 				itemscope,
//- 	      		itemtype="https://schema.org/ContactPoint"
//- 			)
//- 				span.contactsItem__label.visible-hidden-xs Телефон:&thinsp;
//- 				a.contactsItem__refer(
//- 			        href="tel:{{ settings.phone }}",
//- 			        itemprop="telephone"
//- 			    ) {{ settings.phone }}
//- 			li.contactsItem(
//- 				itemscope,
//- 	      		itemtype="https://schema.org/ContactPoint"
//- 			)
//- 				span.contactsItem__label.visible-hidden-xs Адрес:&thinsp;
//- 				a.contactsItem__refer.not-follow(
//- 			        href="{{ settings.addressHref }}", 
//- 			        itemprop="streetAddress"
//- 			    ) {{ settings.address }}
			  

//- .callback.child.parent.centered
//- 	button.callback__button.showPopup(data-popup-id='#popupCallback', aria-pressed="false")
//- 		.imageContainer.imageContainer_callback
//- 			figure.imageContainer__image.imageContainer__image_callback
//- 	#popupCallback.callbackFormWrapper.description.description_purple.description_left.description_beneath.visible-hidden
//- 		h2.description__title.parent Обратный вызов
//- 			button.closeButton.child(data-popup-id='#popupCallback', aria-pressed="false")
//- 				i.fas.fa-times.fa-1x
//- 		form#callbackForm.descriptionContent.callbackForm.parent(method="post")
//- 			| {% csrf_token %}
//- 			| {% for field in callback %}
//- 			.controller.parent.child(
//- 				title="{% if field.field.required %}Поле необходимо заполнить.{% else %}Поле можно оставить пустым.{% endif %}"
//- 			)
//- 				label.controller__label.child {{ field.label }}
//- 					| {% if field.field.required %}
//- 					span.controller_required *
//- 					| {% endif %}
//- 				.controller__icon.imageContainer.child(
//- 					class="imageContainer_{{ field.name }}"
//- 				)
//- 					figure.imageContainer__image(
//- 						class="imageContainer__image_{{ field.name }}"
//- 					)
//- 				| {{ field }}
//- 				| {{ field.errors }}
//- 			| {% endfor %}
//- 			button.registrationButton.callbackForm__button.registrationButton_red(type='submit', aria-pressed="false")
//- 				span.registrationButton__refer Заказать

//- li.contactsItem(
//- 				itemscope,
//- 		    	itemtype="https://schema.org/ContactPoint"
//- 			).
//- 				<a class="contactsItem__refer inlineParent v-centered" href="mailto:{{ settings.email }}" itemprop="email">
//- 					<i class="contactsItem__label fas fa-envelope-square"></i>
//- 					{{ settings.email }}	
//- 				</a>
//- 			li.contactsItem(
//- 				itemscope,
//- 	      		itemtype="https://schema.org/ContactPoint"
//- 			).
//- 				<a class="contactsItem__refer inlineParent v-centered" href="tel:{{ settings.email }}" itemprop="telephone">
//- 					<i class="contactsItem__label fab fa-whatsapp-square"></i>{{ settings.phone }}
//- 				</a>
