@import '../styles/conf/_sizes.sass'

.simpleWrapper
	max-width: 800px
	min-height: $s144 * 2.5
	padding: $s77 0 $s233
	margin: 0 auto
	
.paddingTop
	&_144
		padding-top: $s144

.ladderFold__title.ladderFold__title
	top: .6em