/* Fonts */
@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-Regular.svg#str-replace("ProximaNova", " ", "_")') format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/ProximaNova/ProximaNova-RegularIt.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-RegularIt.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-RegularIt.svg#str-replace("ProximaNova", " ", "_")') format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-Bold.svg#str-replace("ProximaNova", " ", "_")') format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "ProximaNova";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/ProximaNova/ProximaNova-BoldItalic.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-BoldItalic.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-BoldItalic.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-BoldItalic.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-BoldItalic.svg#str-replace("ProximaNova", " ", "_")') format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-Light.svg#str-replace("ProximaNova", " ", "_")') format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?") format("eot"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype"), url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.svg#str-replace("PlayfairDisplay", " ", "_")') format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot?") format("eot"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype"), url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.svg#str-replace("PlayfairDisplay", " ", "_")') format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.eot?") format("eot"), url("../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf") format("truetype"), url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.svg#str-replace("PlayfairDisplay", " ", "_")') format("svg");
  font-display: fallback;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Italic.eot?") format("eot"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf") format("truetype"), url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.svg#str-replace("PlayfairDisplay", " ", "_")') format("svg");
  font-display: fallback;
}

/*# sourceMappingURL=fonts.css.map */
