.cropedText
	overflow: hidden
	text-overflow: ellipsis
	display: flex
	display: -webkit-box
	-webkit-box-orient: vertical
	&_6
		-webkit-line-clamp: 6
		height: (6px * 1.5 * 18)

.visible-hidden 
	white-space: nowrap
	overflow: hidden
	clip: rect(1px, 1px, 1px, 1px)
	width: 1px
	height: 1px
	position: absolute
[hidden] 
	display: none
.circle
	border-radius: 50%
// Shadows
.iconShadow
	box-shadow: 1px 1px 2px 0 $shadow
.materialShadow
	box-shadow: 2px 4px 6px 0 $shadow
.cascadingShadow
	box-shadow: 0 4px 15px 0 $shadow
// .lowCascadingShadow
// 	box-shadow: 0 4px 15px -1px $shadow
.visible-hidden-smLess 
	@include breakpoint($sm-less) 
		white-space: nowrap
		overflow: hidden
		clip: rect(1px, 1px, 1px, 1px)
		width: 1px
		height: 1px
		position: absolute
.baseRound
	border-radius: 3px
.semibold
	font-weight: 600
.bold
	font-weight: bold
.light
	font-weight: 300
.italic
	font-style: italic
.normalStyle
	font-style: normal
.normalWeight
	font-weight: normal
.whiteColor
	color: $white
.pinkColor
	color: $pink
.burgundColor
	color: $burgund
.darkGrayColor
	color: $darkGray
.visible-hidden-xs 
	@include breakpoint($xs) 
		white-space: nowrap
		overflow: hidden
		clip: rect(1px, 1px, 1px, 1px)
		width: 1px
		height: 1px
		position: absolute
	  

	
.whiteTextShadow
	text-shadow: -2px 1px 13px rgba(255, 255, 255, .8)
.textShadow
	text-shadow: -2px 1px 13px rgba(0, 0, 0, 0.35)

.cascadeShadow
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4)
.imageContainer 
	height: 100%
		/* style */
	&, &__image 
		transition: .3s ease-in-out
		width: span(12)
	
	&__image 
		background-position: center 
		background-repeat: no-repeat
		background-size: cover
	

.closeButton 
	background-color: $darkGray
	&, &::after 
		@extend %round
	@extend %absolute
	border: 0 
	z-index: 1
	width: em(18)
	height: em(18)
	right: em(-8)
	top: em(-9)
	font-size: em(28)
	box-shadow: -2px 2px 2px $shadow
	will-change: transform
	transition: transform .2s ease-in-out, box-shadow .3s ease
	&:hover
		transform: rotate(25deg)
		box-shadow: 0 0 2px $shadow
	&__bar
		@extend %absolute
		width: em(7)
		height: em(1.1)
		border-radius: 2px
		background-color: $white
		z-index: 3
		left: em(9.7, 28)
		top: em(15, 28)
		&_right
			transform: rotate(-45deg)
		&_left
			transform: rotate(45deg)

	&::after 
		content: ""
		@extend %absolute
		z-index: 2
		width: em(11)
		height: em(11)
		top: em(6.3, 28)
		left: em(6.2, 28)
		@extend %shadow
		background-color: $orange

	
.restrictBlock 
	margin: auto
	max-width: em(1350)




.fewRound
	border-radius: 3px
.whiteBackground
	background-color: #fff
.darkGrayBackground
	background-color: $darkGray
.orderButtons
	@extend %relative
.shown_element
	opacity: 1
	tranition: opcaity .3s ease-in
.lazy
	will-change: opacity
	opacity: 0

.unstyledList li
	margin-top: 0
	&:before
		content: none

::-webkit-scrollbar-track
	// -webkit-box-shadow: inset 0 0 6px $shadow
	// background-color: $darkGray
	// padding: 0 1px

::-webkit-scrollbar
	opacity: .1
	width: 14px
	background-color: transparent
	height: 75px
::-webkit-scrollbar-thumb
	// background-clip: padding-box
	border: 5px solid rgba(0, 0, 0, 0);
	// width: 5px
	height: 75px
	
	margin: 0 auto
	// border-radius: 10px

	background-color: $burgund
	box-shadow: -2px 2px 6px 0 $shadow
::-webkit-scrollbar-button 
    width: 0;
    height: 0;
    display: none;

::-webkit-scrollbar-corner 
    background-color: transparent;
.textCentered
	text-align: center	
.textRight
	text-align: right



.container 
	padding: 0 1.5rem
	margin-right: auto
	margin-left: auto
	


input[type=number]::-webkit-inner-spin-button 
	-webkit-appearance: none
	display:blocks
	color: $darkGray
	text-align:center
	position:relative
	// background: transparent url('./../src/images/icons/arrows.png') no-repeat 50% 50%  
	width: em(14)
	height: em(14)
	padding: em(4)
	position: relative
	right: 0px
	visibility: visible
	opacity: .7
	transition: opacity .3s ease
	will-change: opacity
	cursor:pointer
	z-index: 2
div[data-id="tooltip"]	
	font-size: 1rem
	z-index: 100
input[type=number]:hover::-webkit-inner-spin-button 
	opacity: 1
	cursor:pointer


.serverError
	color: $red
.serverError, .successfull
	font-weight: bold

.slowFade
	&-enter-active, &-appear-active, &-leave-active 
		transition: opacity 1.5s ease-in		
		will-change: opacity
	&-enter, &-leave-to, &-appear-to
		opacity: 0
	&-enter-active, &-leave-active 
		transition: opacity 1.5s ease-in-out
		will-change: opacity
	&-enter, &-leave-to
		opacity: 0
.fade
	&-appear-active, &-leave-active, &-enter-active
		transition: opacity .5s ease-in-out
		will-change: opacity
	&-enter, &-leave-to, &-appear-to
		opacity: 0

	&-enter-active, &-leave-active 
		transition: opacity .5s ease-in-out
  		will-change: opacity
	&-enter, &-leave-to
		opacity: 0


.fading
	&-appear
		opacity: 0.1
		will-change: opacity
		&.fading-appear-active
			transition: opacity 1s ease-in
			opacity: 1
	&-enter
		opacity: 0.1
		will-change: opacity
		&.fading-enter-active
			transition: opacity .5s ease-in
			opacity: 1
	&-leave
		opacity: 1
		will-change: opacity
		&.fading-leave-active
			transition: opacity .3s ease-in
			opacity: 0.1
.translate
	&-appear
		transform: translateX(-200%)
		will-change: transform
		&.translate-appear-active
			transition: transform .7s ease-in
			transform: translateX(0)
	&-enter
		transform: translateX(-200%)
		will-change: transform
		&.translate-enter-active
			transition: transform .7s ease-in
			transform: translateX(0)
	&-exit
		
		// margin-top: 4.6875em 
		position: absolute
		
		will-change: opacity
		opacity: 1
		&.translate-exit-active
			transition: opacity .3s ease-in
			opacity: 0
			// transform: translate(250%);
a.disableUnderline
	background-image: none

.disableLinkHover
	&:hover, &:focus, &:active
		background-image: none $i
		color: currentColor $i
// .colorBurgundHover
// 	&:hover, &:focus, &:active
// 		color: $burgund


.prespective
	transform-style: preserve-3d;
	transform: perspective(800px);

.button 
	position: relative
	padding: 0 1.5rem
	height: em(47)
	min-width: em(200)
	cursor: pointer
	user-select: none
	z-index: 1
	transition: all 0.3s
	will-change: transform
	transform-style: preserve-3d;
	&:hover, &:focus
		transform: scale(1.02)
	&:active
		transform: scale(1.02) translateY(2px)
	&, &_submit:after, &_submit:before
		display: flex
		justify-content: center
		align-items: center
	&_error, &_successful
	    box-shadow: 0
		
	&_error
		&, &:hover, &:focus
			transform-origin: 50% 0%
			transform: rotateX(90deg) translateY(-100%)
		&:before
			top: 100%
			// background: #e96a6a
			// color: #a33a3a
			background-color: $red
			// color: darken($red, 25%)
			color: $white
			content: 'Ошибка!'
			font-weight: 700
			transform-origin: 0% 0%
			transform: rotateX(-90deg)
	&_successful
		&, &:hover, &:focus
			transform-origin: 50% 100%
			transform: rotateX(-90deg) translateY(100%)
		&:after
			top: -98%
			// background: #7aca7c
			// color: #358337
			background-color: darken($validColor, 25%)
			color: $white
			content: 'Успех!'
			transform-origin: 0% 100%;
			transform: rotateX(90deg);
			


	&_submit
		&:after, &:before
			box-shadow: 2px 4px 6px $shadow
			text-shadow: -2px 1px 13px $shadow //rgba(255, 255, 255, .8)
			width: 100%
			height: 100%
			position: absolute
			left: 0
			border-radius: 2px
	&_centered
		margin: auto
	&_burgund
		background: $registrationButtonGradinet
		color: $white

	// &_awesome
	// 	color: $darkGray
	// 	&::after
	// 		position: relative
	// 		display: inline-block
	// 		content: attr(data-title)
	// 		transition: transform .2s ease
	// 		font-weight: bold
	// 		letter-spacing: .01em
	// 		will-change: transform
	// 		transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0))
	// 	&::before
	// 		content: ''
	// 		background: $linkGradient
	// 		position: absolute
	// 		top: 0
	// 		left: 0
	// 		bottom: 0
	// 		right: 0
	// 		z-index: 1
	// 		border-radius: 4px
	// 		transition: box-shadow .5s ease, transform .2s ease
	// 		will-change: transform
	// 		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
	// 		transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px))
	// 	&:hover::before
	// 		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)
	
.awesomeButton
	position: relative
	display: flex
	padding: 0 1.5rem
	justify-content: center
	align-items: center
	height: em(47)
	min-width: em(200)
	text-decoration: none
	text-align: center
	cursor: pointer
	user-select: none
	color: $darkGray
	z-index: 1
	&::after
		position: relative
		display: inline-block
		content: attr(data-title)
		transition: transform .2s ease
		font-weight: bold
		letter-spacing: .01em
		will-change: transform
		transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0))
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		// background: linear-gradient(135deg, #6e8efb, #a777e3)
		background: $linkGradient
		z-index: -1
		border-radius: 4px
		transition: box-shadow .5s ease, transform .2s ease
		will-change: transform
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
		transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px))
	&:hover::before
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)
